.AddTask {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  text-align: left;

  &__form {
    display: flex;
    flex-direction: column;

    > fieldset {
      border: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      > label {margin-bottom: 0.5rem;}
    }
  }
  &__input {
    border: none;
    background-color: rgb(177 165 165 / 24%);
    border-radius: 3px;
    height: 1.2rem;
    outline: none;
    padding: 2px;
  }

  &__btn {
    width: 4rem;
    border: none;
    background-color: #ff6a00;
    color: white;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
  &__btn:hover {
      background-color: white;
      color:#ff6a00;
      border: 1px solid #ff6a00;
  }
}
