.Favorites {
  padding: 10px 20px;

  &__container {
    display: flex;
    justify-content: space-between;

    &-check-txt {
      display: flex;
      flex-direction: row;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
  }

  &__icon-checkbox {
    margin-right: 0.7rem;
    cursor: pointer;
    color: lightgray;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    text-align: left;

    &-name {
      margin: 0;
      font-weight: bold;
      color: #808080;
    }
    &-category {
      margin: 5px 0px 10px;
      font-weight: 300;
      color: #ff9e5b;
    }
  }

  &__btn-heart {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
  }
  &__icon-fav {
    color:#ff9e5b;
  }
}
