.Home {
  padding: 10px 20px;

  > h1 {
    font-size: 1.4rem;
  }

  &__item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #e8e1e1;
    justify-content: space-between;

    > p {
      margin: 0;
    }
  }

  &__checkbox {
    margin-right: 0.7rem;
    cursor: pointer;
    color: lightgray;
  }
  &__checkbox:hover {
    color:#ff6a00;
  }

  &__check-txt {
    display: flex;
    > button {
      background-color: transparent;
      border: none;
      display: flex;
    }
  }
  &__txt {
    display: flex;
    flex-direction: column;
    text-align: left;
    &-name {
      margin: 0;
      font-weight: bold;
      color: #808080;
    }
    &-category {
      margin: 5px 0px 10px;
      color: #ff9e5b;
      font-weight: 300;
    }
  }
}
.Home__btn-heart {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: flex;

  .Btn__heart {
    color: lightgray;
    cursor: pointer;
  }
  .Btn__heart:hover,
  :active,
  :target,
  :focus {
    color: #ff6a00;
  }
}
