.NavBar {
  background-color: #ff6a00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  height: 1.3rem;


  &__icon {
    color: white;
  }

}
.NavBar__home-done-fav {
  display: flex;
  flex-direction: row;

  > a {
    text-decoration: none;
  }
  .NavBar__heart {
    color: white;
  }
}
.NavBar__tasks-completed {
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0px 20px;
  align-items: center;

  > p {
    margin: 0;
    font-weight: bold;
    text-decoration: none;
  }
  .NavBar__check {
    margin-right: 5px;
  }
}
