.TaskCompleted {
  padding: 10px 20px;

  &__icon-check {
    color:#ff9e5b; 
    margin-right: 0.7rem;
  }
  &__task {
    display: flex;
    text-align: left;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin: 0;
    font-weight: bold;
    color: #808080;
  }
  &__category {
    margin: 5px 0px 10px;
    color: #ff9e5b;
    font-weight: 300;
  }
}
