@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    text-align: center;
    /* font-family: 'Yusei Magic', sans-serif; */
}

h1 {
    font-family: 'Yusei Magic', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}
